# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS or Editor folders
Thumbs.db
.idea
*.orig

#Vagrant
.vagrant
Vagrantfile

#Development configuration
dev.py
/backup
/media
/static
/logs
/venv
/.venv

#Python
__pycache__
*.pyc

# NodeJS
/node_modules

#Data
celerybeat*
SxGeoCity.dat

# Docker Compose data files
compose