.navigation {
    position: relative;
    grid-column: 1/1;
    grid-row: 2/2;
    padding-left: 30px;
    width: 228px;
    border-right: 2px solid #EEEEEE;
}

.navigation::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    top: -100px;
    right: -2px;
    background-color: #EEEEEE;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.navigation-list__item {
    margin-bottom: 15px;
    padding-left: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.navigation-list__item--active {
    color: #2771FF;
}
