.dashboard-page__wrapper {
    padding: 40px;
}

.dashboard-page__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.dashboard-page__sales {
    display: flex;
    margin-top: 25px;
}

.dashboard-page__bottom-wrapper {
    margin-top: 30px;
    padding: 40px 0;
}
