.input-checkbox-label {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.input-checkbox {
  display: none;
}

.checkbox-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #2771FF;
}

.checkbox-indicator {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  background-image: url('../../../images/checkbox-checked.svg');
}

.input-checkbox:checked + .checkbox-indicator {
  opacity: 1;
}
