.order-payment {

  .total {
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
  }
}

.order-payment__top-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.order-payment__label-payment {
  margin-left: 20px;
}
