.table__data {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 25px;
  padding-bottom: 22px;

  &:first-child {
    padding-left: 40px;
  }
}

.shops .table__data {

  &:first-child {
    font-weight: bold;
  }
}

.orders .table__data {
  a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #083250;
    transition: color .2s ease;

    &:hover {
      color: #2771FF;
    }
  }
}





