.button {
  font-family: 'Roboto', sans-serif;
  padding: 11px 25px;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #2865FF;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background: linear-gradient(234.5deg, #418aff 1.91%, #0098ff 100%);
    border-color: transparent;
    color: #FFFFFF;
  }

  &--margin {
    margin-right: 20px;
  }

  &--fill {
    border: 0;
    background: linear-gradient(234.5deg, #2764FF 1.91%, #2587FF 100%);
    color: #FFFFFF;

    &:hover {
      background: linear-gradient(234.5deg, #418aff 1.91%, #0098ff 100%);
    }
  }
}
