.logo {
    width: 144px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1C3337;
}


