.navigation {
  position: relative;
  grid-column: 1/1;
  grid-row: 2/2;
  padding-left: 30px;
  padding-right: 10px;
  width: 228px;
  border-right: 2px solid #EEEEEE;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    top: -100px;
    right: -2px;
    background-color: #EEEEEE;
  }
}

.navigation-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: -15px;
}
