.header {
    display: flex;
    padding: 25px 30px 20px;
    background: #FFFFFF;
}

.logo {
    width: 144px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1C3337;
}

.account {
    margin-left: auto;
}

.account__img-wrapper {
    width: 36px;
    height: 36px;
    background: #EBEBEB;
    border-radius: 50%;
}
