.status-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 18px 8px 26px;
  border-radius: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  color: #333333;
  background: #EEEEEE;

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 8px;
    background: #555555;
    border-radius: 21px;
  }
}

.fulfillment {
  &--0 {
    background: #9CC5A9;

    &::before {
      background: #086D28;
    }
  }

  &--1 {
    background: #FBE19D;

    &::before {
      background: #F9C43C;
    }
  }
}

.fulfillment-all-orders {
  &--0 {
    background: #EEEEEE;

    &::before {
      background: #555555;
    }
  }

  &--1 {
    background: #FBE19D;

    &::before {
      background: #F9C43C;
    }
  }
}

.refunding {
  &--1 {
    background: #fbe19d;

    &::before {
      background: #F9C43C;
    }
  }

  &--2 {
    background: #fbce9d;

    &::before {
      background: #f9ad3c;
    }
  }
}

.refunding-all-orders {
  background: #EEEEEE;

  &::before {
    background: #555555;
  }
}

.payment {
  background: #EEEEEE;

  &::before {
    background: #555555;
  }
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}
