.image-box {
  position: relative;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  overflow: hidden;

  &--small {
    width: 48px;
    height: 48px;
  }

  img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
