.status-icon {
  position: relative;
  padding-left: 34px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: -1px;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 3px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  &.icon-fulfillment--0 {
    &::before {
      background-color: #086D28;
    }
  }

  &.icon-fulfillment--1 {
    &::before {
      background-color: #FCF444;
    }
  }

  &.icon-payment {
    &::before {
      background-color: #086D28;
    }
  }

  &.icon-refunded--0 {
    &::before {
      background-color: #F9C43C;
    }
  }

  &.icon-refunded--1 {
    &::before {
      background-color: #f93c3c;
    }
  }
}
