.navigation-item {
  margin-bottom: 15px;
  padding-left: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  > a {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;

    &.submenu-active {
      + .navigation-sub-list {
        display: flex;
      }
    }
  }

  .active {
    color: #2771FF;
  }
}
