.inventory-page__wrapper {
  padding: 30px 0 40px 0;
}

.inventory-page__top-wrapper {
  padding: 0 40px;
  border-bottom: 1px solid #D6D6D6;
}

.inventory-page__filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -20px;
  padding: 16px 40px 24px 40px;
}

.inventory-page__search-input {
  width: 100%;
  margin-right: 20px;
}

.inventory-page__quantity {
  display: flex;
  align-items: center;
}

.inventory-page__marker {
  margin-right: 5px;
}
