.account {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.account__img-wrapper {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    background: #EBEBEB;
    border-radius: 50%;
}

.account__name {
    min-width: 84px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #226999;
}


